body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  display: flex;
  flex-direction: row;
}
.slider {
  border: 1px solid #bcbcba;
  width: 2.5rem;
  height: 20px;
  border-radius: 20px;
}
.slider-thumb {
  width: 20px;
  height: 18px;
  border-radius: 50%;
  margin: 1px 2px 2px 3px;
  background: #e8e8e3;
}
